.container-body-clients{
    height: 100vh;
    width: 100vw;
   
  
}

.container-body-clients h1{
    padding-left: 20px;
    white-space: nowrap;
}

.container-body-clients h4{
    white-space: nowrap;
}

.client-filter {
    display: flex;
}

.client-filter h1 {
    flex-grow: 1;
}

.container-sort {
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
    width: 90%;
}

.collection-sort{
   padding: 20px;
 
}

.collection-search{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 90%;
 }

.collection-sort label{
    white-space: nowrap;
}

.collection-sort *{
    box-sizing: border-box;
}

select{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: 2px solid #666666;
    width:60px;
    font-size: 20px;
}

.search {
    border: 1px solid grey;
    border-radius: 20px;
    outline: 0;
    background-color: #f5f5f5;
    font-size: 20px;
    width:100%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.search:disabled{
    opacity: 0.8;
}

.section-clients {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    /*justify-content: center;*/
}
 
.client-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 16%;
    border: 1px solid #666666;
    border-radius: 10px;
    max-width: 15vw;
    min-width: 100px;
}

.client-image{
    height: auto;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.client-image img {
    max-width: 100%;
    /*max-height: auto;
    max-width: 100%;
    object-fit:fill;*/
}
 
.client-breed-user-name{
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(233, 230, 227);
    overflow-wrap: break-word;
    color: #666666;
    box-shadow:inset 0px 0px 0px 2px rgb(24, 24, 24);
}

.client-info {
    overflow-wrap: break-word;
}

.client-dog-name{
    border-bottom: 1px solid #aaa;
}

.client-image button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
 
.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}


.pagination a.active {
    background-color: #ffffff;
    color: black;
    border: 1px solid #ddd;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container-pages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  
}
